*{
    --background-color: #f5e8fa;
    --accent-color: #c071c5;
    --shadow:  #cec4d3;
}
body{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
img{
    position: absolute;
    z-index: 999;
    left:46vw;
    top: 2em;
    width: 5em;
    height: 5em;
    margin: auto;
    animation:drop 1s forwards ;
    transition: 0.3s;
}
.field{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    width: calc(100vw/1.2);
    height: 80vh;
    margin: auto;
    margin-top: 4em;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 20px var(--shadow);
}
.field h1{
    text-align: center;
    border-bottom: 1px solid var(--shadow);
    padding: 2px;
    margin-left: 2em;
    margin-right: 2em;
}
.field form{
    margin-top: 2em;
    align-items: center;
}
.field form input{
    border: none;
    border-bottom: 1px solid var(--shadow);
    background-color: var(--background-color);
    width: 90%;
    height:2em;
}
form input:focus{
    outline: none;
}
button{
    border: none;
    border-radius: 10px;
    padding: 10px;
    background-color: var(--accent-color);
}
button:hover{
    background-color: transparent;
    border: 1px solid var(--accent-color);
    transition: 0.3s;
}
a{
    text-decoration: none;
    color:var(--accent-color);
    font-weight: 450;
    transition: 0.3s;
}
a:hover{
    text-decoration: underline;
}
.bottom-text{
    text-align: center;
    margin: auto;
}
@keyframes drop {
    from{
        top: -2em;
}
    to{
        top: 2em;
    }
}
